@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

header nav {
    display: flex;
    color: white;
    justify-content: space-between;
    margin: auto 15px;
}

header nav p{
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header {
    height: calc(100vh - 150px) ;
    background: no-repeat center/cover url(assets/header-image.jpg);
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    color: white;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #e77959;
    color: white;
}

/* Responsividade */

@media (max-width: 767px) {
    
}

@media (max-width: 480px) {
    body{
        height: calc(100vh - 55px);
    }

    header nav ul{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;

        background: #1D61DD;
        color: white;
        font-weight: bold;
        height: 55PX;
        margin: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav p {
        width: 100%;
        text-align: center;
    }

}
