@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #e77959;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

header {
    height: calc(100vh - 150px) ;
    background: no-repeat center/cover url(assets/header-image.jpg);
}

header nav {
    display: flex;
    color: white;
    justify-content: space-between;
    margin: auto 15px;
}

header nav p{
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}


.header-content {
    max-width: 400px;
    margin: 150px auto;
    color: white;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
}

.pacotes {
    background: #e5e5e5;
    padding: 15px;
}

.pacotes .pacotes-title {
    width: 100%;
    margin: 25px 0;
    text-align: center;
}

.pacotes .pacotes-cards {
    display: flex;
    max-width: 950px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .card {
    width: 250px;
    height: 350px;
    background: white;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}

.pacotes .image-card{
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
    object-fit: cover;
   
}

.pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content h1 {
    font-size: 1rem;

}

.pacotes .card-content ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.pacotes .card-content ul li{
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: gray;
    font-weight: bold;
}

.pacotes .card-content li svg{
    width: 16px;
    height: 16px;
    margin-right: 10px;

}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #F19839;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;

}

.pacotes .card .card-tag p{
    margin: 0;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #1D61DD;
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.servicos {
    padding: 15px;
}

.servicos .card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.servicos .card svg {
    width: 60px;
    height: 60px;
    margin: 50px;
    transition: all 1s;
}

.servicos .card svg:hover {
    stroke: #1D61DD;
    transform: scale(1.1);
}


.servicos .card h3{
    font-weight: bold;
}
.servicos .card .card-content {
    height: 150px;
}

.servicos .card p {
    color: gray;
    font-size: 0.8rem;
    text-align: center;
}

.servicos .servicos-title {
    text-align: center;
    margin: 35px 0;
}

.servicos .servicos-cards {
    margin-top: 25px;
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.servicos button{
    background: #1D61DD;
}

/* Responsividade */

@media (max-width: 767px) {
    
}

@media (max-width: 480px) {
    body{
        margin-bottom: 55px;
    }

    header nav ul{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;

        z-index: 99;

        background: #1D61DD;
        color: white;
        font-weight: bold;
        height: 55PX;
        margin: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav p {
        width: 100%;
        text-align: center;
    }

}
